@import "./color_schemes/light";

$btn-primary-color: #181818;
$link-color: #2986cc;

@font-face {
    font-family: 'Titillium Web';
    src: url(/assets/fonts/TitilliumWeb-Regular.ttf) format('truetype')
}

$body-font-family: 'Titillium Web', $body-font-family;
